body{
    background-color: #588157;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 1em 1em 1em 1em;
    max-width: 100vw;
    background-color: #344E41;
}

.content{
    margin: 2em 1em 0 1em;
    color: #DAD7CD
}

footer{
    background-color: #3A5A40;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    padding-top: 1em;
}

h1{
    color: #DAD7CD;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: .25em 0 .25em 0;
}

li{
    padding-right: 1em;
    color: #DAD7CD;
}




